<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- JQuery Links -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"
        integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>

    <!-- Local css -->
    <link rel="stylesheet" href="/front-end/public/CSS/navigation.css">
    <link rel="stylesheet" href="/front-end/public/CSS/button.css">
    <link rel="stylesheet" href="/front-end/public/CSS/body.css">
    <link rel="stylesheet" href="/front-end/public/CSS/post.css">

    <title>Frnds - Add Post</title>
</head>

<body>
    <!-- NAVIGATION BAR ------------------------------------------------------------------------------------------------------------>
    <!-- Navigation bar start -->
    <nav class="navbar navbar-expand-lg bg-light">
        <!-- Navigation container -->
        <div class="container-fluid">
            <!-- Brand Logo start -->
            <div class="logo">
                <a class="navbar-brand ms-2" href="#"><img class="rot"
                        src="/front-end/public/images/icons8-wi-fi-64.png" width="32" height="32"
                        class="d-inline-block align-text-top" />
                    <b>FRNDS</b></a>
            </div>
            <!-- Brand Logo end -->
            <!-- Toggle navigation menu start -->
            <!-- toggle nav button start-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">

                </span>
            </button>
            <!-- Toggle nav button end -->
            <!-- toggle nav items start -->
            <div class=" align-items-end collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <!-- home button start -->
                    <li class="nav-item ms-2 margin-ad">
                        <a class="nav-link btn btn-light button-hover " aria-current="page"
                            href="/front-end/views/home.html"><i class="bi bi-house-fill"></i>
                            Home</a>
                    </li>
                    <!-- home button end -->
                    <!-- add post button start -->
                    <li class="nav-item ms-2 margin-ad">
                        <a class="nav-link btn btn-light button-hover" href="/front-end/views/add-post.html"><i
                                class="bi bi-plus-square-fill me-2"></i>Add Post</a>
                    </li>
                    <!-- add post button end -->
                    <!-- add friend button start -->
                    <li class="nav-item ms-2 margin-ad"><a class="nav-link btn btn-light button-hover"
                            href="/front-end/views/add-friend.html"><i class="bi bi-person-plus-fill me-2"></i>Add
                            Frnds</a>
                    </li>
                    <!-- add friend button end -->
                </ul>
                <!-- Friend website search form start -->
                <form class="d-flex" role="search" action="/front-end/views/add-friend.html">
                    <input class="form-control me-2" type="search" placeholder="Search Frnds" aria-label="Search">
                    <button class="btn btn-light button-hover" type="submit"><i class="bi bi-search"></i></button>
                </form>
                <!-- Friend website search form end -->
            </div>
            <!-- toggle nav items end -->
            <!-- Hidden responsive logo start -->
            <div class="logo-hid">
                <h4 class="mt-1"> <b>Frnds</b> </h4>
            </div>
            <!-- Hidden responsive logo end -->
            <!-- User dropdown menu start -->
            <div class="nav flex-nowrap align-items-center">

                <li class="nav-item dropdown ms-2 margin-ad marg-ad">
                    <!-- Dropdown button start -->
                    <a class="nav-link btn btn-light button-hover dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-at"></i>
                        Username
                    </a>
                    <!-- Dropdown button end -->
                    <!-- Dropdown profile + settings + edit profile + friends check + sign out + about website start -->
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/front-end/views/user-profile.html"> <i
                                    class="bi bi-person-fill me-2"></i>Profile</a>
                        </li>
                        <li><a class="dropdown-item" href="/front-end/views/settings.html"><i
                                    class="bi bi-gear-fill me-2"></i>Settings</a>
                        </li>
                        <li><a class="dropdown-item" href="/front-end/views/edit-profile.html"><i
                                    class="bi bi-pencil-fill me-2"></i>Edit
                                Profile</a>
                        </li>
                        <li><a class="dropdown-item" href="/front-end/views/show-friends.html"><i
                                    class="bi bi-people-fill me-2"></i>Frnds</a>
                        </li>
                        <li><a class="dropdown-item" href="/front-end/views/notifications.html"><i
                                    class="bi bi-bell-fill me-2"></i>Notifications</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/front-end/views/about-frnds.html"><i
                                    class="bi bi-vinyl-fill me-2"></i>About
                                Frnds</a>
                        </li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-left me-2"></i>Sign
                                out</a>
                        </li>
                    </ul>
                    <!-- Dropdown profile + settings + edit profile + friends check + sign out + about website end -->
                </li>
            </div>
            <!-- User dropwdown menu end -->

        </div>
    </nav>
    <!-- Navigation bar end -->
    <!-- add post section start -->
    <main>
        <div class="container">
            <div class="row g-4  ps-2 pe-2 post-row">
                <div class="col">
                    <!-- add post card start -->
                    <div class="card mt-2 mb-2 w-100 post-card  pt-2">
                        <!-- add post card header -->
                        <div class="card-header">
                            <h4>Add a post</h4>
                        </div>
                        <div class="card-body">
                            <form action="">
                                <div class="card post-card">
                                    <div class="card-header post-card">
                                        <h6 class="text-muted">Let's Write Something Interesting</h6>
                                    </div>
                                    <div class="card-body post-card">
                                        <!-- add post body start -->
                                        <!-- add text to post -->
                                        <div class="d-flex align-items-center">
                                            <textarea class="form-control post-text" maxlength="350" name="text-post"
                                                id="post-text" rows="4" required></textarea>
                                        </div>
                                        <!-- add image input -->
                                        <div class="d-flex align-items-center mt-3">
                                            <input class="text-muted" type="file" id="add-post-image" name="post-image"
                                                accept="image/jpg, image/png">
                                        </div>
                                        <!-- post button -->
                                        <div class="card-footer post-card mt-3">
                                            <div class="float-end">
                                                <button class="btn button-hover" type="submit" id="posted">Post <i
                                                        class=" ps-1 bi bi-mailbox"></i></button>
                                            </div>

                                        </div>
                                        <!-- add post body end -->
                                    </div>
                                </div>

                            </form>
                            <!-- footer space start -->
                            <div class=" d-flex align-items-center justify-content-between">
                                <div class=" mt-3 ms-1"> <a class="btn button-hover"
                                        href="/front-end/views/home.html"><i class="bi bi-arrow-left pe-1"></i> Home</a>
                                </div>
                            </div>
                            <!-- footer space end -->
                        </div>
                    </div>
                    <!-- add post card end -->
                </div>
            </div>


        </div>

    </main>
    <!-- add post section end-->

</body>

</html>